@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {

  /* Headings */
  .h1,
  .h2,
  .h3 {
    letter-spacing: -0.1125rem;
    line-height: 3.625rem;
  }

  .h1 {
    @apply text-h1 font-bold text-secondary;
  }

  .h2 {
    @apply text-h2 font-bold text-secondary;
  }

  .h3 {
    @apply text-h3 font-bold text-secondary;
  }

  .h4 {
    @apply text-h4 font-bold text-secondary;
    letter-spacing: -0.01rem
  }

  .h5 {
    @apply text-h5 font-medium text-secondary;
  }

  .h6 {
    @apply text-h6 font-medium text-secondary;
  }

  /* Body text */
  .body-txt-lg,
  .body-txt-lg-bold {
    @apply text-lg;
    letter-spacing: -0.02083rem;
    line-height: -0.01471rem;
  }

  .body-txt-lg-bold {
    @apply font-bold;
  }

  .body-txt-md,
  .body-txt-md-bold {
    @apply text-md;
    line-height: -0.00625rem;
  }

  .body-txt-md {
    letter-spacing: -0.0125rem;
  }

  .body-txt-md-bold {
    @apply font-bold;
    letter-spacing: -0.01875rem;
  }

  .body-txt {
    @apply text-base text-secondary;
    letter-spacing: -0.00625rem;
    line-height: -0.00833rem;
  }

  .body-txt-sm {
    @apply text-sm;
    letter-spacing: -0.00294rem;
    line-height: -0.00385rem;
  }

  /* Buttons */
  .button-primary {
    @apply bg-primary text-neutral px-6 py-2 rounded font-bold hover:bg-opacity-90 transition-colors;
  }
}

.accordion-answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}