@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables for Animated Background */
:root {
  --background-cream: #e7d5ba;
  --background-orange: #d47742;
  --background-dark-blue: #2a4b69;
  --background-red: #a24235;
  --background-accent: #df8028;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {

  /* Headings */
  .h1,
  .h2,
  .h3 {
    letter-spacing: -0.1125rem;
    line-height: 3.625rem;
  }

  .h1 {
    @apply text-h1 font-bold;
  }

  .h2 {
    @apply text-h2 font-bold;
  }

  .h3 {
    @apply text-h3 font-bold;
  }

  .h4 {
    @apply text-h4 font-bold;
    letter-spacing: -0.01rem
  }

  .h5 {
    @apply text-h5 font-medium;
  }

  .h6 {
    @apply text-h6 font-medium;
  }

  /* Body text */
  .body-txt-lg,
  .body-txt-lg-bold {
    @apply text-lg;
    letter-spacing: -0.02083rem;
    line-height: -0.01471rem;
  }

  .body-txt-lg-bold {
    @apply font-bold;
  }

  .body-txt-md,
  .body-txt-md-bold {
    @apply text-md;
    line-height: -0.00625rem;
  }

  .body-txt-md {
    letter-spacing: -0.0125rem;
  }

  .body-txt-md-bold {
    @apply font-bold;
    letter-spacing: -0.01875rem;
  }

  .body-txt,
  .body-txt-bold {
    @apply text-base;
    letter-spacing: -0.00625rem;
    line-height: -0.00833rem;
  }

  .body-txt-bold {
    @apply font-bold;
  }

  .body-txt-sm {
    @apply text-sm;
    letter-spacing: -0.00294rem;
    line-height: -0.00385rem;
  }

  /* Buttons */
  .button-primary {
    @apply bg-primary text-neutral px-6 py-2 rounded font-bold hover:bg-opacity-90 transition-colors;
  }
}

.accordion-answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

/* Mobile Nav Toggle */
.toggle2 {
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 5px;
  border-radius: 5px;
}

#bar2 {
  transition-duration: .8s;
}

#checkbox2:checked + .toggle2 .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox2:checked + .toggle2 #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox2:checked + .toggle2 #bar1 {
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox2:checked + .toggle2 #bar3 {
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox2:checked + .toggle2 {
  transition-duration: .5s;
  transform: rotate(180deg);
}

/* Animated Background */
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--background-cream);
  z-index: -1;
  border: 1px solid black;
}

#background::before,
#background::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 35%;
}

#background::after {
  background: var(--background-accent);
  filter: url(#noiseFilter);
  z-index: 2;
}

/* orb Container */
.orb-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100%;
  width: 100%;
  position: relative;
}

/* orbs */
.orb {
  border-radius: 550px;
  filter: blur(75px);
  opacity: 85%;
  height: 550px;
  width: 550px;
  position: absolute;
  z-index: 1;
}

/* Specific orb Colors */
.orange {
  background-color: var(--background-orange);
  opacity: 70%;
}

.blue {
  background-color: var(--background-dark-blue);
}

.red {
  background-color: var(--background-red);
}

/* orb Positions */
.orange-1 {
  top: -350px;
  left: -200px;
  animation: orb-anim-1 8s infinite linear;
}

.orange-2 {
  right: -400px;
  animation: orb-anim-2 4s infinite linear;
}

.blue-1 {
  bottom: -400px;
  left: -250px;
  animation: orb-anim-2 4s infinite linear;
}

.blue-2 {
  bottom: -400px;
  right: -200px;
  animation: orb-anim-1 9s infinite linear;
}

.red-1 {
  bottom: -450px;
  right: 420px;
  animation: orb-anim-2 8s infinite linear;
}

.red-2 {
  top: -450px;
  right: 150px;
  animation: orb-anim-1 5s infinite linear;
}

/* Combined Keyframes */
@keyframes orb-anim-1 {
  0% {
    transform: translate(-20px, -60px);
  }
  25% {
    transform: translate(20px, -40px);
  }
  50% {
    transform: translate(40px, 0px);
  }
  75% {
    transform: translate(20px, 40px);
  }
  100% {
    transform: translate(-20px, -60px);
  }
}

@keyframes orb-anim-2 {
  0% {
    transform: translate(40px, 0px);
  }
  25% {
    transform: translate(20px, 40px);
  }
  50% {
    transform: translate(-20px, -60px);
  }
  75% {
    transform: translate(20px, -40px);
  }
  100% {
    transform: translate(40px, 0px);
  }
}
